/*
/.*

!/.vim
!/.vimrc
!/.gvimrc
!/.gitignore
!/.gitignore_global
!/.gitconfig
!/.zshrc
!/.gemrc
!/.tmux.conf
!/README.md
!/setup.sh

/.vim/colors/*
!/.vim/colors/glitter.vim

# ignore
/.vim/bundle
/.vim/.netrwhist
