snippet ruby_print
abbr    <%= %>
options word
        <%= ${1:Ruby print code} %>

snippet ruby_code
abbr    <% %>
options word
        <% ${1:Ruby code} %>

snippet ruby_print_nonl
abbr    <%= -%>
options word
        <%= ${1:Ruby print code} -%>

snippet ruby_code_nonl
abbr    <% -%>
options word
        <% ${1:Ruby code} -%>

snippet comment
abbr    <%# %>
options word
        <%# ${1:Comment} %>
