snippet nbs
options word
	&nbsp;

snippet style
	<style>
	${1}
	</style>

snippet script
	<script>
	${1}
	</script>

snippet br
options word
	<br>${1}

#css
snippet border
abbr    border: 1px solid #000;
	border: 1px solid #000;

#jQuery
snippet jq
	$(function() {
		${1}
	});

#handlebars
snippet handle
abbr    <script handlebars>
	<script id="${1:id}" type="text/x-handlebars-template">
		${2}
	</script>
