snippet nbs
options word
	&nbsp;

snippet style
	<style>
	${1}
	</style>

snippet br
options word
	<br>${1}

#css
snippet border
abbr    border: 1px solid #000;
	border: 1px solid #000;

#jQuery
snippet jq
	$(function() {
		${1}
	});
