# Class
snippet cla
alias   class
	class ${1:#:Name}
		constructor: (${2:#:params...}) ->
			${3:#:body...}

# Funcion
snippet f
	${1:#:function_name} = (${2:#:argumen}) ->
		${3:#:body...}

snippet cl
	console.log ${0}

snippet swi
alias   switch
	switch ${1:#:object}
		when ${2:#:value}
			${0:TARGET}
		else

snippet try
	try
		${1:TARGET}
	catch ${2:#:error}
		${3}
	finally
