snippet import
alias   @import
	@import "${1}";

snippet mixin
	@mixin ${1} {
		${2}
	}

snippet include
alias   @include
	@include ${1};

snippet extend
alias   @extend
	@extend ${1};

snippet for
alias   @for
	@for ${1:$i} from ${2} through ${3} {
		${4}
	}
